@import "../../variables";
.TimeSchedule {
    h1 {
        font-weight: 800;
        font-size: 48px;
        text-align: center;
    }
    p {
        font-size: 12px;
        font-weight: 400;
    }
    .progressBar {
        height: 5px;
        border-radius: 5px;
        background-color: $blue1;
        position:relative;

        .progress {
            height: 10px;
            border-radius: 10px;
            background-color: $blue3;
            position:absolute;
            top:-2.5px;
            width: 73%;
        }
    }
}