@import "../../variables";

.ProductivityStats {
    display: grid;
    height: 100%;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "title title"
        "main info"
        "main trends";

    @each $div in "main", "title", "info", "trends" {
        .#{$div} {
            grid-area: #{$div};
        }
    }
    .indexStat {
        width: 100%;
        text-align:center;
        p {
            font-size: 22px;
        }
    }    
    .iconStat {
        display:flex;
        align-items: center;
        h4 {
            margin:0;
            font-size: 18px;
            font-weight: 400;
        }
        p {
            margin:0;
            font-size: 32px;
            font-weight: 900;
            color: white;
            letter-spacing: .05em;
        }
        img {
            width:80px;
            margin-right: 20px;
            margin-top:-10px;
        }
        
    }

}
