@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Lato, sans-serif;
    background-color: $blue1;
}

.container {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    padding: 72px;

    grid-column-gap: 36px;
    grid-row-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "component1 main main main"
        "component2 main main main"
        "component3 component5 component5 component6";

    @media (max-width: 960px) {
        grid-template-areas: 
            "main"
            "component1"
            "component2"
            "component3"
            "component4"
            "component5"
            "component6";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    background-color: $blue1;
    color: $blue3;
    video, canvas {
        width: 100%;
    }

    > * {
        background-color: $blue2;
        padding:24px;
        box-shadow: 2px 2px 8px $shadow;

        h2 {
            font-weight: 400;
            font-size: 18px;
            border-bottom: 1px solid $blue1;
        }
    }
    .motioncharts {
        grid-area: component1;
    }
    .videostream {
        grid-area: component3;
    }
    .motionstream {
        grid-area: component2;
    }
    .productivity {
        grid-area: main;
    }
    .timeschedule {
        grid-area: component5;
    }
    .activitylog {
        grid-area: component6;
    }

    .videoContainer {
        overflow: hidden;
        max-height: 200px;
        video {
            object-fit: cover;        
        }
    }
    
}